.footer {
    position: relative;
    z-index: 1000;
    margin-top: 10px;
    width: calc(100% - 20px);
    text-align: center;
    color: white;
    padding: 5px 10px;
    box-shadow: 0px 0px 3px 0.5px rgba(0, 94, 170, 0.733);

    background-color: rgba(0, 94, 170, 0.733);
    &__title{
        font-size: 14px;
    }
}