.header{
    z-index: 1000;
    height: 70px;
    width: 100%;
    position: relative;
    &__inner{
        position: fixed;
        min-height: 60px;
        padding: 2px 10px;
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: rgba(0, 94, 170, 0.733);
        box-shadow: 0px 0px 3px 0.5px rgba(0, 94, 170, 0.733);
        backdrop-filter: blur(100px);
        @media (max-width: 767px) {
            padding: 5px 10px;
        }
    }
    &__logo{
        font-size: 30px;
        text-decoration: none;

        color: white;
    }

    &__drop{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: calc(100wv - 20px);
        @media (max-width: 767px) {
            padding-top: 20px;
            width: 100%;
            transition: all 0.3s ease 0s;
            flex-direction: column-reverse;
            position: absolute;
            top: 70px;
            right: -2000px;
            background-color: white;
            height: calc(100vh - 56px);
            &._active{
                overflow-y: auto;
                z-index: 1000;
                right: 0px;
            }
        }
    }
}

.navbar-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    text-align: center;
    &__link{
        text-decoration: none;
        font-size: 24px;
        color: white;

        margin-right: 20px;
        @media (max-width: 767px) {
            margin-right: 0;
            padding: 5px;
            color: black;
        }
    }
}

.profile-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;

    }

    position: relative;

    &__avatar-button {
        outline: none;
        background: none;
        border: none;
        @media (max-width: 767px) {
            display: none;
        }
        max-height: 60px;
        max-width: 60px;
    }

    &__avatar {


        cursor: pointer;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        @media (max-width: 767px) {
            height: 120px;
            width: 120px;
        }
        @media (max-width: 420px) {
            height: 60px;
            width: 60px;
        }
    }

    &__avatar-link{
        max-height: 60px;
        max-width: 60px;
        @media (max-width: 767px) {
            max-height: 260px;
            max-width: 260px;
        }
        @media (max-width: 420px) {
            max-height: 160px;
            max-width: 160px;
        }
    }

    &__info{
        padding: 10px 15px;
        display: flex;

        justify-content: flex-start;
        align-items: center;
    }

    &__info-text{

        width: 100%;
        flex: 1 1 auto;
        margin-left: 10px;
    }

    &__name{
        width: 100%;
        font-size: 20px;
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }

    &__links{
        padding: 10px 5px;
        @media (max-width: 767px) {
            padding: 0;
        }
    }

    &__link {
        text-decoration: none;
        transition: all 0.1s linear;
        color: black;
        @media (max-width: 767px) {
            font-size: 24px;
            text-align: center;
        }
        @media(any-hover: hover){
            &:hover{
                background-color: rgb(185, 185, 185);
            }
        }
        cursor: pointer;
        display: block;
        width: calc(100% - 10px);
        text-align: left;
        border-radius: 5px;
        padding: 5px;
        font-size: 18px;
        white-space: nowrap;

        display: block;
        text-decoration: none;

        background: none;
        border: none;
    }

    &__link-header {
        text-decoration: none;
        transition: all 0.1s linear;
        color: white;
        @media (max-width: 767px) {
            font-size: 24px;
            text-align: center;
            color: black;
        }
        @media(any-hover: hover){
            &:hover{
                background-color: rgb(76, 76, 76);
            }
        }
        cursor: pointer;
        display: block;
        width: calc(100% - 10px);
        text-align: left;
        border-radius: 5px;
        padding: 5px;
        font-size: 18px;
        white-space: nowrap;

        display: block;
        text-decoration: none;

        background: none;
        border: none;
    }

    &__drop {
        border-radius: 10px;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.096);
        pointer-events: none;
        width: 100%;
        min-width: 250px;
        transition: all 0.1s linear ;
        opacity: 0;
        background: white;
        position: absolute;
        right: 0;
        top: calc(100% + 20px);
        z-index: 1000;
        @media (min-width: 767px) {
            &._active{
                pointer-events: all;
                opacity: 1;
            }
        }
        @media (max-width: 767px) {
            box-shadow: none;
            pointer-events: all;
            opacity: 1;
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &::after{
                display: none;
            }
        }
        &::after{
            content: "";
            top: -10px;
            right: 20px;
            height: 0px;
            width: 0px;
            position: absolute;
            border-bottom: 10px solid rgb(255, 255, 255);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            transition: all 0.1s ease 0s;
        }
    }
}

.header__burger-wrapper{
    cursor: pointer;
    height: 100%;
    min-height: 40px;

    @media (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: none;
}

.header__burger {
    cursor: pointer;

    z-index: 1000;
    & > span,
    & > span::before,
    & > span::after { 
        display: block;
        content: ''; 
        position: relative;
        width: 40px;
        height: 4px;
        background-color: white;
        transition: all .3s linear;
        border-radius: 15px;
    }
    & > span::before {
      top: -12px;
    }
    & > span::after {
      top: 8px;
    }
    &._active > span{
      background-color: rgba(51, 131, 195, 0.73);
    }
    &._active > span::after {
      transform: rotate(45deg);
      top: -4px;
   }
    &._active > span::before {
      transform: rotate(-45deg);
      top: 0px;
  }
}