.main{
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;
    }
    min-height: calc(70vh - 70px);
    padding: 10vh 0 20vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    @media (max-width: 991px) {
        padding: 10px 0;
        height: auto;
    }
}

.item-main{
    @media (any-hover: hover) {
        &:hover{
            .item-main__plus{
                filter: blur(2px);
            }
            .item-main__img{
                filter: blur(2px);
            }

        }
    }
    color: white;
    box-shadow: 0px 0px 3px 0.5px gray;
    position: relative;
    flex: 0 0 calc(24% - 50px);
    background-color: gray;
    border-radius: 10px;
    @media (max-width: 991px) {
        flex: 100%;
        height: 30%;
    }
    @media (max-width: 767px) {
        height: 100px;
    }
    border: 3px solid gray;
    margin: 10px;
    height: 100%;
    width: 100%;
    min-width: 280px;
    min-height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img{
        transition: all 0.3s ease 0s;
        height: 140px;
        padding-bottom: 15px;
        width: 200px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__plus{
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover{
                filter: blur(2px);

            }
        }
        width: 100px;
        height: 100px;
    }
    &__title{
        text-align: center;
        position: absolute;
        bottom: 5px;
        font-size: 24px;
    }
}