.car-info {

    text-align: center;
    &__section{
        padding: 10px;
    }

    &__ownership{
        font-size: 24px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 94, 170, 0.733)
    }

    &__img {
        margin: 50px 0;
        max-width: 100%;
        max-height: 100%;
        @media (max-width: 767px) {
            height: 100%;
        }
    }

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            padding-bottom: 3px;
        }
    }

    &__field-left {
        
        padding: 3px;

        border: 1px solid rgba(0, 94, 170, 0.733);
        border-right: 1px solid rgba(0, 94, 170, 0.733);
        flex: 50%;
        text-align: left;
        
        font-size: 18px;
        @media (max-width: 767px) {
            font-size: 12px;
            min-height: 26px;
        }
        min-height: 22px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__fiel-right {
        min-height: 22px;
        display: flex;
        align-items: center;
        height: 100%;

        padding: 3px;
        border: 1px solid rgba(0, 94, 170, 0.733);
        margin-left: 3px;
        flex: 50%;
        text-align: left;
        font-size: 18px;
        @media (max-width: 767px) {
            font-size: 11px;
            min-height: 26px;
        }

    }

    &__title {
        font-size: 26px;
        margin-bottom: 5px;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
}


