.admin {

    min-height: calc(100vh - 117px);

    &__section {
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
}
.section-admin {

    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    width: calc(100% - 40px);

    &__title {
        text-align: center;
    }

    &__fields {
    }

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        border-radius: 1px;
        width: 100%;
    }

    &__field-name {
        font-size: 24px;
    }

    &__field-delete {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 36px;
        transform: rotate(45deg);
    }
}
