.input {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover{
            border-color: rgba(0, 94, 170, 0.733);
        }
    }
    border: 1.3px solid black;
    box-sizing: border-box;
    width: calc(100% - 10px);
    outline: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 20px;
    
    &::placeholder{
        font-size: 22px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
        &::placeholder{
            font-size: 18px;
        }
    }
}
