.intro {

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;
    }

    min-height: calc(100vh - 107px);


    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 991px) {
        justify-content: center;

    }

    &__info {
        @media (max-width: 767px) {
            text-align: center;
        }
        box-sizing: 0px 0px 3px 1px;
        position: relative;
        z-index: 100;
        max-width: 400px;
        margin-left: 100px;

        @media (max-width: 991px) {
            margin-left: 0px;
            margin: 0 20px;
        }
        @media (max-width: 1440px) {
            max-width: 300px;
        }

        padding: 40px 30px;
        background: white;
        border-radius: 15px;
    }

    &__img {
        position: absolute;
        background-size: cover;
        top: 64px;
        z-index: 0;
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: calc(100vh - 90px);
        filter: blur(3px) brightness(80%);
        @media (max-width: 767px) {
            width: auto;
        }

    }

    &__title {
        font-size: 36px;
        @media (max-width: 1440px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        color: rgb(95, 95, 95);
        font-size: 30px;
        @media (max-width: 1440px) {
            font-size: 20px;
        }
    }

    &__button {

        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background: rgba(0, 94, 170, 0.733);
                color: white;
            }
        }

        @media (max-width: 767px) {
            font-size: 24px;
        }
        margin-top: 20px;
        padding: 10px;

        font-size: 18px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}